* {
    text-align: center;
}

body, html {
    width: 100%;
}

header {
    border: 1px solid black;
    height: 100px;
}

#header-img-title {
    
}

.title-duck {
    max-width: 100px;
    float: left;
    padding-left: 10px;
}

button {
    background-color: #a2d6f9;
    border-radius: 50%;
    height: 25px;
}

label {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    border: 1px dotted black;
    font-family: 'Bungee', cursive;
    font-size: 40px;
    float: left;
    margin: 20px;
    padding: 10px;
}

h2 {
    font-size: 30px;
    border: 2px solid green;
    width: 300px;
    margin: auto;
}

h3 {
    font-family: 'Bungee', cursive;
    font-size: 20px;
}

h4 {
    font-style: italic;
    color:rgb(184, 66, 66);
}

p{
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    border: 2px solid #1e96fc;
    background-color: #a2d6f9;
    color: #072ac6;
    margin: 25px 10px;
    padding: 10px;
    display: inline-block;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #072ac6;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #072ac6;
    text-decoration: none;
    font-weight: bold;
}

/* Index Styling */

#welcome-message {
    display: block;
    border: 1px dashed orange;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

#username-entry {
    display: block;
    border: 1px dashed orange;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

#question-box {
    border: 1px dashed green;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

#question-text {
    border: 1px solid red;
    width: 85%;
    font-size: 20px;
    padding: 20px;
    
}

#leftbutton {
    float: left;
}

#question-text {
    float: left;
}

#rightbutton {
    float: right;
}

#input0, #input1 {
    padding: 10px;
    float: left;
    clear: both;
}


/* About Us Styling */

.about-us {
    border: 1px solid orange;
    width: 70%;
    height: 170px;
    /* overflow: scroll; */
    margin: auto;
}

.headshots {
    border: 1px dotted red;
    width: 150px;
    height: auto;
}

.bioright {
    float: right;
    border: 2px solid turquoise;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

.bioleft {
    float: left;
    border: 2px solid turquoise;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

.imgleft {
    float: left;
    margin: auto;
}

.imgright {
    float: right;
    margin: auto;
}


/* Result Page Styling */

#result-box {
    border: 1px solid blue;
    width: 50%;
    margin: auto;
    margin-top: 35px;
}

#duck-persona {
    border: 1px dotted red;
    width: 70px;
    height: auto;
}

.prev-result {
    border: 2px solid pink;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    height: 200px;
}

.prev-result img {
    width: 150px;
    float: right;
}

.prev-result h3 {
    float: left;
}

.prev-result p {
    float: left;
    clear: both;
}

footer {
    border: 1px dashed green;
    margin-top: 50px;
}