* {
    text-align: center;
}

body, html {
    width: 100%;
}

body {
    background-color: rgba(162, 214, 249, 0.5);
}


header {
    /* border: 1px solid black; */
    height: 120px;
    background-color: #ffffff
}

.title-duck {
    max-width: 100px;
    float: left;
    padding-left: 10px;
}

h1 {
    /* border: 1px dotted black; */
    font-family: 'Bungee', cursive;
    font-size: 40px;
    float: left;
    margin: 20px;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    border: none;
    background-color: #a2d6f9;
    color: #072ac6;
    margin: 25px 10px;
    padding: 25px;
    display: inline-block;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #072ac6;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #072ac6;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-family: 'Bungee', cursive;
    border: 2px solid green;
    width: 300px;
    margin: auto;
}

h3 {
    font-family: 'Bungee', cursive;
    font-size: 20px;
}

h4 {
    font-style: italic;
    color:rgb(184, 66, 66);
}

p{
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

button {
    background-color: rgba(30, 150, 252, 0.7);
    border-radius: 50%;
    height: 30px;
    border: none;
}

label {
    font-family: 'Open Sans', sans-serif;
}

/* Index Styling */

#welcome-instruct {
    display: block;
    /* border: 1px dashed orange; */
    width: 50%;
    margin: auto;
    padding: 20px 0px 10px 0px;
    margin-top: 20px;
}

#username-entry {
    display: block;
    /* border: 1px dashed orange; */
    width: 50%;
    margin: auto;
    padding: 20px 0px;
    /* margin-top: 20px; */
}

#question-box {
    /* border: 1px dashed green; */
    width: 60%;
    min-width: 500px;
    margin: auto;
    /* margin-top: 20px; */
    /* padding: 10px; */
    text-align: center;
    background-color: #ffffff;
}

#question-box h2 {
    padding: 10px;
}

#question-text {
    border: 1px solid red;
    width: 85%;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}

#leftbutton {
    float: left;
    width: 40px;
}

#rightbutton {
    float: right;
    width: 40px;
}

#question-text {
    float: left;
}


#input0, #input1 {
    padding: 10px;
    float: left;
    clear: both;
}


/* About Us Styling */

.about-us {
    border: 1px solid orange;
    width: 70%;
    height: 170px;
    /* overflow: scroll; */
    margin: auto;
}

.headshots {
    border: 1px dotted red;
    width: 150px;
    height: auto;
}

.bioright {
    float: right;
    border: 2px solid turquoise;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

.bioleft {
    float: left;
    border: 2px solid turquoise;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

.imgleft {
    float: left;
    margin: auto;
}

.imgright {
    float: right;
    margin: auto;
}


/* Result Page Styling */

#result-box {
    border: 1px solid blue;
    width: 50%;
    margin: auto;
    margin-top: 35px;
}

#result-box>h2 {
    width: 100%;
    background-color: rgba(252, 243, 0, .5);
    border: none;
}

#result-box div {
    margin: 15px;
}

#duck-persona {
    width: 225px;
    margin: 10px;
}

.prev-result {
    border: 2px solid rgba(255, 198, 0, 1);
    margin: auto;
    margin-top: 20px;
    width: 50%;
    height: 200px;
}

.prev-result img {
    width: 150px;
    float: right;
    margin: 10px;
}

.prev-result h3 {
    float: left;
    width: 100%;
    background-color: rgba(252, 243, 0, .5);
}

.prev-result p {
    float: left;
    clear: both;
    margin: 10px;
}

/* footer */
footer {
    margin-top: 50px;
    background-color: rgba(252, 243, 0, .5);
    height: 15px;
}